<p>calculadora-salario works!</p>

<label for="salario">Salario</label>
<input
  type="number"
  step="0.01"
  min="0"
  class="form-control"
  id="salario"
  placeholder="Ingrese Salario"
/>

<button class="btn btn-primary" type="button">Calcular</button>

<label for="isss">ISSS (3%)</label>
<input
  class="form-control"
  type="number"
  step="0.01"
  min="0"
  class="form-control"
  id="isss"
  readonly
/>

<label for="afp">AFP (7.25%)</label>
<input
  class="form-control"
  type="number"
  step="0.01"
  min="0"
  class="form-control"
  id="afp"
  name="afp"
  readonly
/>

<label for="renta">Renta</label>
<input
  class="form-control"
  type="number"
  step="0.01"
  min="0"
  class="form-control"
  id="renta"
  name="renta"
  readonly
/>

<label for="salarioLiquido">Salario Liquido</label>
<input
  class="form-control"
  type="number"
  step="0.01"
  min="0"
  class="form-control"
  id="salarioLiquido"
  name="salarioLiquido"
  readonly
/>
