<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laboratorio 2</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <h1>Calculadora De Renta, ISSS y AFP</h1>
    <h2>Integrantes</h2>
    <ul class="list-group">
        <li class="list-group-item list-group-item-primary" >Emilio Roberto Deras Urias DU100320</li>
        <li class="list-group-item list-group-item-secondary">Franklin Alfredo Castillo Cristino CC101020</li>
        <li class="list-group-item list-group-item-danger" >Diego Alfredo Molina Medina MM101020</li>
    </ul>

    <app-calculadora-salario>

    </app-calculadora-salario>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>  
</body>
</html>